<div class="container">
  <div class="esquerda">
    <div class="shop-items">

      <div class="shop-item">
        <span class="shop-item-title" id="poked1" style="text-transform: capitalize;"></span>
        <img class="shop-item-image" id="poked1-img">
        <div class="shop-item-details">
          <span class="shop-item-price">R$12.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title" id="poked2" style="text-transform: capitalize;"></span>
        <img class="shop-item-image" id="poked2-img">
        <div class="shop-item-details">
          <span class="shop-item-price">R$14.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title" id="poked3" style="text-transform: capitalize;"></span>
        <img class="shop-item-image" id="poked3-img">
        <div class="shop-item-details">
          <span class="shop-item-price">R$9.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>

      <div class="shop-item">
        <span class="shop-item-title" id="poked4" style="text-transform: capitalize;">Album 4</span>
        <img class="shop-item-image" id="poked4-img">
        <div class="shop-item-details">
          <span class="shop-item-price">R$19.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>
    <br><br><br>

  <div class="direita">
    <section class="container content-section">
      <h2 class="section-header">CART</h2>
      <br>
      <div class="cart-items">
      </div>
      <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">R$0</span>
      </div>
      <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
    </section>
  </div>
</div>

