<nav class="navbar navbar-expand-lg navbar navbar-dark bg-danger ml-auto" id="nav">
  <a routerLink="" class="navbar-brand">
    Pokéstore <i><img [src]="pokeStoreIcon" id="icon-bar"></i>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse6">
    <div class="navbar-nav">
      <a routerLink="/pokemon" class="nav-item nav-link active">Pokémon</a>
    </div>
    <form class="form-inline ml-auto">
      <input type="text" class="form-control mr-sm-2" placeholder="Search">
      <button type="submit" class="btn btn-outline-light">Search</button>
    </form>
  </div>
</nav>
