<div class="header">

  <h1 class="poke-header">Todos os Pokémon<img id="poke-header-icon" [src]="headerLoad"></h1>
</div>
 <div class="container">
  <div class="row">

    <div class="col-md-3 prodHeight">
      <div class="prodPicture">
        <h2 id="poked1" style="text-transform: capitalize; padding-top: 5px;"></h2>
        <img id="poked1-img" src="#">
      </div>
      <div class="prodInfo row">
        <div class="col-md-6">
          <h4>Preço</h4>
        </div>
        <div class="col-md-6">
          <h4>R$:425</h4>
        </div>
      </div>
      <div></div>
      <button id="prod1">COMPRAR</button>
    </div>
<!--Aqui-->
    <div class="col-md-1"></div>
    <div class="col-md-3 prodHeight">
      <div class="prodPicture">
        <img id="poked2-img" src="#">
      </div>
      <div class="prodInfo row">
        <div class="col-md-6">
          <h4 id="poked2" style="text-transform: capitalize;"></h4>
        </div>
        <div class="col-md-6">
          <h4>R$ 225</h4>
        </div>
      </div>
      <button id="prod2">COMPRAR</button>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 prodHeight">
      <div class="prodPicture">
        <img id="poked3-img" src="#">
      </div>
      <div class="prodInfo row">
        <div class="col-md-6">
          <h4 id="poked3" style="text-transform: capitalize;"></h4>
        </div>
        <div class="col-md-6">
          <h4>R$ 625</h4>
        </div>
      </div>
      <button id="prod3">COMPRAR</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 prodHeight">
      <div class="prodPicture">
        <img id="poked4-img" src="#">
      </div>
      <div class="prodInfo row">
        <div class="col-md-6">
          <h4 id="poked4" style="text-transform: capitalize;"></h4>
        </div>
        <div class="col-md-6">
          <h4>R$ 1025</h4>
        </div>
      </div>
      <button id="prod4">COMPRAR</button>
    </div>
  </div>
<br><br>
<div class="container">
  <h2 id="shopHead">MEU CARRINHO</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>POKÉMON</th>
        <th>QUANTDADE</th>
        <th>PREÇO</th>
      </tr>
    </thead>
    <tbody id="cartEntry">
    </tbody>
  </table>
  <h4 id="total">PREÇO TOTAL:&nbsp;&nbsp;R$: <span id="totalPrice">0</span></h4>
</div>
