*{
  font-family: Helvetica;
  font-weight: 700;
}
h2 {
  color: #1a2a44c4;
}
.header {
  padding: 20px;
}
.header > h1 {
  display: inline;
    padding: 15px;
    font-size: 48px;
}
.header > img {
  width: 60px;
}
.prodHeight {
  margin: 46px;
  outline: 8px dotted rgba(67,113,164,0.45);
  outline-offset: 7px;
  border: 5px ridge rgba(67,113,164,0.45);
  border-radius: 16px 16px 16px 16px;
}
div.prodPicture {
  padding-top: 25px;
  top: -32px;
  position: relative;
  text-align: center;
}
div.prodPicture > img {
  padding-top: 25px;
  width:150px;
}
div.prodInfo {
  height: 50px;
}
.decrease,.increase,.remove {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid;
    padding: 4px;
    background-color: burlywood;
}
.container {
  text-align: center;
  margin: 0;
}

#shopHead {
  font-weight: 700;
  text-shadow: 2px 2px 0px #ce8383;
  color: #789cbd;
  font-family: Helvetica;
  border: 9px;
  border-color: #e88e8e;
  border-style: dotted;
  padding: 5px;
  left: -33px;
  width: 439px;
  position: relative;
}
thead {
  font-size: 18px;
  text-align: center;
}
.header {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}
.poke-header {
  padding: 31px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #ce8383;
  color: #789cbd;
  font-family: Helvetica;
  font-size: 57px;
}
#poke-header-icon {
  width: 76px;
  height: 138px;
  position: relative;
  top: -18px;
  padding-left: 9px;
}
table {
  color: #020202;
  font-family: cursive;
}
#total {
  font-weight: 700;
  text-shadow: 2px 2px 0px #d8d8d8;
  color: #020202;
  font-family: Helvetica;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-sm.stats{
  border-top: 1px solid #ebeff2;
  background: #f7f8fa;
  overflow: auto;
  padding: 15px 0;
  font-size: 16px;
  color: #59687f;
  font-weight: 600;
  top: -38px;
  border-radius: 0 0 5px 5px;
  position: relative;
}
.col-sm.stats div{
	border-right:1px solid #ebeff2;
	width: 33.33333%;
	float:left;
	text-align:center;
}

.col-sm.stats div:nth-of-type(3){border:none;}

button {
  border: 1px solid;
  -moz-border-radius: 13px;
  border-radius: 5px;
  background-color: #da3545;
    color: white;
  top: -12px !important;
  position: relative;
}
